<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="/home/msubhan33/Projects/Side-Projects/Other/CoinInfoApi/WebApi/logs/internallog.txt">
    <targets>
        <target name="logfile" xsi:type="File"
                fileName="/home/msubhan33/Projects/Side-Projects/Other/CoinInfoApi/WebApi/logs/${shortdate}_logfile.txt"
                layout="${longdate} ${level:uppercase=true} ${message}"/>
        <target name="logconsole" xsi:type="Console" layout="${longdate} ${message} ${exception:format=ToString}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>